<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style/global/variables.css">
        <link rel="stylesheet" href="./style/global/style.css">
        <link rel="stylesheet" href="./style/chat/style.css">
        <link rel="stylesheet" href="./style/chat/typing-toolbox.css">
        <link rel="stylesheet" href="./style/chat/message-container.css">
        <link rel="stylesheet" href="./style/chat/chat-header.css">
        <link rel="stylesheet" href="./style/message/style.css">
        <link rel="stylesheet" href="./style/identify/style.css">
    </head>
    <body>
        <div id="chat">
            <div id="chat-header">
                <h1>Getti's Chat</h1>
                <p>v0.1.2 : names update!!!</p>
            </div>
    
            <div id="message-container"></div>

            <div id="typing-toolbox">
                <input id="message-input" placeholder="type whatever u want">
                <button id="send-button">send</button>
            </div>
        </div>

        <script type="module" src="./script/setter/chat/index.js"></script>
    </body>
</html>