<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style/global/variables.css">
        <link rel="stylesheet" href="./style/global/style.css">
        <link rel="stylesheet" href="./style/chat/style.css">
    </head>
    <body>
        <div id="chat">
            <div id="chat-header">
                <h1>Getti's Chat</h1>
            </div>
    
            <div id="message-container"></div>
    
            <div id="typing-toolbox">
                <form id="message-form">
                    <input id="message-input">
                    <button id="send-button"></button>
                </form>
            </div>
        </div>

        <script type="module" src="./script/chat/index.js"></script>
    </body>
</html>