body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#chat {
    display: flex;
    flex-direction: column;
    aspect-ratio: 4 / 3;
    height: 100%;
    max-width: 100vw;
    padding: var(--padding);
  }