#typing-toolbox {
    display: flex;
    gap: var(--padding);
  }
  
  #send-button:hover,
  #add-msg:hover {
    background-color: var(--hover-color);
  }
  
  #message-input::placeholder {
    color: var(--text-color);
    opacity: 0.6;
  }
  